<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        body {
            width:1000px;
            margin:0 auto;
        }
    </style>
</head>
<body>
<h1>{{data.title}}</h1>
<div><p>{{data.date}}</p></div>
<div><p>{{data.explanation}}</p></div>
<img src="{{data.url}}" />
</body>
</html>